<!DOCTYPE html>
<html>
<head>
    <title>AngularJs 指令</title>
    <meta charset="utf-8"/>
    <script src="angular/js/angular-1.0.1.min.js"></script>
</head>
<body>
<div class="warp">
    <h1>
        AngularJS 指令
    </h1>

    <div class="ng" ng-app>
        <ul>
            <li>ng-app 指令告诉 AngularJs div元素是AngularJs应用程序的所有者</li>
            <li>ng-init 初始化数据</li>
            <li>ng-model</li>
            <li>ng-bind</li>
            <li>ng-repeat 重复一个html元素</li>
        </ul>
        <hr/>
        <p>
            <p>在输入框中尝试输入</p>
            <input ng-model="name" ng-init="name='LiuJun'" type="text" placeholder="请输入名字"/>
            <p>你输入的名字为: {{name}}</p>
        </p>
        <hr/>
        <p>使用ng-repeat来循环数组</p>
        <ul ng-init="names=['LiuJun,Sean,Frank']">
            <li ng-repeat="x in names">
                {{x}}
            </li>
        </ul>
        <p>使用 ng-repeat 来循环一个对象</p>
        <ul ng-init="namesObj=[{name:'liujun',country:'hubei'},{name:'sean',country:'guangdong'},{name:'frank',country:'hongkong'}]">
            <li ng-repeat="i in namesObj">
                {{i.name + " 来自 " + i.country}}
            </li>
        </ul>
    </div>

</div>

</body>
</html>