<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJs form</title>
    <style>
        body{
            padding: 50px 60px;
        }
        label{
            display: block;
        }
    </style>
</head>
<body>
<div class="warp">
    <h1>HTML 控件</h1>
    <div class="app" ng-app="formApp">
        <div class="controller" ng-controller="myForm">
            <form novalidate>
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" ng-model="user.firstName"/>

                <label for="lastName">Last Name：</label>
                <input type="text" id="lastName" ng-model="user.lastName"/>
                <br/><br/>
                <button ng-click="reset()">RESET</button>
            </form>
            <p>form = {{user}}</p>
            <p>master = {{master}}</p>
        </div>
    </div>
</div>
    <script src="angular/js/angular-1.0.1.min.js"></script>
    <script src="angular/js/myApp.js"></script>
    <script src="angular/js/module/controller/FormApp.js"></script>
</body>
</html>