<!DOCTYPE html>
<html>
<head>
    <title>AngularJs Controller</title>
    <meta charset="utf-8"/>
    <script src="angular/js/angular-1.0.1.min.js"></script>
</head>
<body>
    <div class="warp" ng-app="" ng-controller="personController">
        <div>
            名: <input type="text" ng-model="person.firstName"><br>
            姓: <input type="text" ng-model="person.lastName"><br>
            <p>
                <!-- 姓名: {{person.firstName + " " + person.lastName}} -->
                <!-- 姓名: {{person.fullName()}} -->
                姓名: {{fullName()}}
            </p>
        </div>
    </div>
    <script>
        /*function personController($scope) {
          $scope.person = {
              firstName : "Liu",
              lastName : "Jun"
          };
        }*/

        /*function personController($scope){
            $scope.person = {
                firstName : 'Liu',
                lastName : 'Jun',
                fullName : function(){
                    var x;
                    x = $scope.person;
                    return x.firstName + ' ' + x.lastName;
                }
            }
        }*/

        function personController($scope){
            $scope.person = {
                firstName: "Liu",
                lastName: "Jun"
            };
            $scope.fullName = function(){
                return $scope.person.firstName + $scope.person.lastName;
            };
        }
    </script>


</body>
</html>