<!DOCTYPE html>
<html>
<head>
    <title>AngularJs 2</title>
    <meta charset="utf-8"/>
    <script src="angular/js/angular-1.0.1.min.js"></script>
</head>
<body>
<div class="warp" ng-app>
    <p>输入你的名字</p>
    <input type="text" placeholder="输入名字" ng-model="name"/>
    <hr />
    <p>你输入的名字是: <span ng-bind="name"></span></p>

    <hr />
    <div>
        <p>我的第一个表达式: {{ 5 + 5}}</p>
    </div>

    <hr />
    <div ng-init="firstName='John'">
        <p>Init </p>
        <p>姓名为<span ng-bind="firstName"></span></p>
    </div>

    <hr />
    <div ng-init="quantity=1;cost=5">
        <p>总价：{{quantity * cost}}</p>
    </div>

    <br />
    <div ng-init="myFisrtName='liu';myLastName='jun'">
        <p>
            <input type="text" placeholder="输入姓" ng-model="myFisrtName"/>
            <br />
            <input type="text" placeholder="输入名" ng-model="myLastName"/>
        </p>
        <p>
            你的姓名为: {{myFisrtName + " " +  myLastName}}
        </p>
        <p>
            你的姓名为: <span ng-bind="myFisrtName + ' ' + myLastName"></span>
        </p>
    </div>

    <br/>
    <h3>AngularJS 对象</h3>
    <div ng-init="Person={firstName:'Liu',lastName:'Jun'}">
        <p>
            姓为: <span ng-bind="Person.firstName"></span>
        </p>
        <p>
            名为: <span ng-bind="Person.firstName"></span>
        </p>
    </div>

    <h3>AngularJs 数组</h3>
    <div ng-init="myArr=[1,2,3,4]">
        <p>第一个值为：<span ng-bind="myArr[1]"></span></p>

        <p>第二个值为：<span ng-bind="myArr[2]"></span></p>

        <p>第三个值为：<span ng-bind="myArr[3]"></span></p>

    </div>

</div>

</body>
</html>