<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJs Include Test</title>
    <link href="//apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .warp{
            position: relative;
            width: 800px;
            padding: 10px 20px;
            margin: 50px auto;
            border: 1px solid #CCC;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="warp" ng-app="">
        <div ng-controller="userController">

           <!-- <table class="table table-striped">
                <thead>
                <tr>
                    <th>Edit</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>
                        <button class="btn" ng-click="editUser(user.id)">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                        </button>
                    </td>
                    <td>{{user.fName}}</td>
                    <td>{{user.lName}}</td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-success" ng-click="editUser('new')">
                <span class="glyphicon glyphicon-user">
                    Create New User
                </span>
            </button>
            <hr/>
            <h3 ng-show="!isEdit">Create New User: </h3>
            <h3 ng-show="isEdit">Edit User: </h3>
            <form action="" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>

                    <div class="col-sm-10">
                        &lt;!&ndash;修改的时候不允许修改 Name&ndash;&gt;
                        <input type="text" name="" ng-model="fName" ng-disabled="isEdit" placeholder="First Name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>

                    <div class="col-sm-10">
                        <input type="text" ng-model="lName" ng-disabled="isEdit" placeholder="Last Name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Password: </label>

                    <div class="col-sm-10">
                        <input type="password" ng-model="passw1" name="" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Repeat: </label>

                    <div class="col-sm-10">
                        <input type="password" ng-model="passw2" placeholder="Repeat Password"/>
                    </div>
                </div>
            </form>
            <hr/>
            <button class="btn btn-success" ng-disabled="isError || !isComplete">
                <span class="glyphicon glyphicon-save">Save Changes</span>
            </button>
-->
            <div ng-include="'include/myUsers_list.htm'"></div>
            <div ng-include="'include/myUsers_form.html'"></div>
        </div>
    </div>
    <script src="angular/js/angular-1.0.1.min.js"></script>
    <script>
        function userController($scope){
            $scope.data = {
                fName : "",
                lName : "",
                passw1 : "",
                passw2 : "",

                isError : false, // 是否有错误
                isEdit : false,  // 是否是编辑 (区分编辑和新建用户)
                isComplete : false  // 是否输入完成
            }

            $scope.users = [
                {
                    id : 1,
                    fName : "Liu",
                    lName : "Jun"
                },{
                    id : 2,
                    fName : "Xiao",
                    lName : "Ming"
                },{
                    id : 3,
                    fName : "Zhang",
                    lName : "san"
                },{
                    id : 4,
                    fName : "Li",
                    lName : "Si"
                }
            ];

            $scope.test = function () {
                if($scope.data.passw1 !== $scope.data.passw2){
                    $scope.data.isError = true;
                }else{
                    $scope.data.isError = false;
                }
                $scope.data.isComplete = true;

                // 新建 不能为空
                if(! $scope.data.isEdit && ($scope.data.lName === "" || $scope.data.fName === "" || $scope.data.passw1 === "" || $scope.data.passw2 === "")){
                    $scope.data.isComplete = false;
                }
            }

            $scope.$watch('data.passw1', function () {
                $scope.test();
            });
            $scope.$watch('data.passw2', function () {
                $scope.test();
            });
            $scope.$watch('data.fName', function () {
                $scope.test();
            });
            $scope.$watch('data.lName', function () {
                $scope.test();
            });

            $scope.editUser = function(id){
                if(id === 'new'){
                    // 新建
                    $scope.data.fName = "";

                    $scope.data.isComplete = false;
                    $scope.data.isEdit = false;

                    $scope.data.fName = "";
                    $scope.data.lName = "";
                    $scope.data.passw1 = "";
                    $scope.data.passw2 = "";
                }else{
                    // 修改
                    $scope.data.isEdit = true;
                    $scope.data.isError = false;
                    $scope.data.isComplete = true;
                    $scope.data.fName = $scope.users[id - 1].fName;
                    $scope.data.lName = $scope.users[id - 1].lName;
                    $scope.data.passw1 = "";
                    $scope.data.passw2 = "";
                }
            }
            
            $scope.myTest = function () {
                console.log("isError: " + $scope.data.isError);
                console.log("isComplete: " + $scope.data.isComplete);
                console.log("isEdit: " + $scope.data.isEdit);
                console.log("\n");

            }
            
        }
    </script>
</body>
</html>