<!DOCTYPE html>
<html>
<head>
    <title>AngularJS 事件指令</title>
    <meta charset="utf-8"/>
    <script src="angular/js/angular-1.0.1.min.js"></script>

</head>
<body>
    <div class="warp">
        <h1>AngularJs 事件指令</h1>
        <div class="app" ng-app>
            <h3>ng-click click事件</h3>
            <div>
                <button ng-click="count = count + 1">点我点我 !</button>
                <p>{{count}}</p>
            </div>

            <h3>click事件 show hide</h3>
            <div ng-controller="myClickController">
                <button ng-click="toggle()">显示/隐藏</button>
                <div class="name" ng-show="mySwitch">
                    <p>姓: <input type="text" ng-model="person.firstName"/></p>
                    <p>名： <input type="text" ng-model="person.lastName"/></p>
                    <p>你的姓名：{{person.firstName + " " + person.lastName}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myClickController($scope){
            $scope.person = {
                firstName : "Liu",
                lastName : "Jun"
            };
            $scope.mySwitch = true;
            $scope.toggle = function () {
                $scope.mySwitch = !$scope.mySwitch;
            }
        }
    </script>
</body>
</html>