<!DOCTYPE html>
<html>
<head>
    <title>Angular Js 外部引入js文件</title>
    <meta charset="utf-8"/>
    <script src="angular/js/angular-1.0.1.min.js"></script>
</head>
<body>
    <div class="warp" ng-app>
        <h1>
            Angular JS 引入外部js文件
        </h1>
        <div ng-controller="personController">
            <p>姓: <input ng-model="person.firstName" type="text" name="inputName" class="inputName"/></p>
            <p>名: <input ng-modle="person.lastName" type="text" name="inputLastName" class="inputLastName"/></p>
            <p>你的姓名为： {{person.firstName + person.lastName}}</p>
        </div>

        <hr/>
        <h3>ng-repeat</h3>
        <ul ng-controller="namesController">
            <li ng-repeat="x in names">
                {{x.firstName + x.lastName}}
            </li>
        </ul>
    </div>
    <script src="myJs/myJsController.js"></script>
</body>
</html>