/**
 * Created by Liu.Jun on 15-5-13.
 */
@charset "utf-8";
::-webkit-scrollbar              { /* 1 */  width:9px; background-color:#333;}
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ border:solid 2px #333; width:5px;  border-radius:4px; background-color:#fff;}
::-webkit-scrollbar-corner       { /* 6 */ background-color:#333;}
::-webkit-resizer                { /* 7 */ }
::-webkit-scrollbar:horizontal   { height:9px;}

/*@font-face {*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: 300;*/
    /*src: url('../font/open-sans/OpenSans-Light.eot');*/
    /*src:url('../font/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/open-sans/OpenSans-Light.woff') format('woff');*/
/*}*/

html {-ms-overflow-style:-ms-autohiding-scrollbar;}
html,body {position:relative;height:100%;width:100%;-webkit-overflow-scrolling : touch; font-family: 'Open Sans', \5FAE\8F6F\96C5\9ED1,"Helvetica Neue",sans-serif,HelveticaNeue-Light, Helvetica;font-size: 12px;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline:none;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    letter-spacing: 1px;
}
body{position: relative;}
a{ text-decoration:none;font-size: 12px;font-family: 'Open Sans', \5FAE\8F6F\96C5\9ED1,"Helvetica Neue",sans-serif,HelveticaNeue-Light, Helvetica;}
.txa_l {text-align:left;}
.txa_r {text-align:right;}
.txa_c {text-align:center;}
.left{float: left;}
.right{float: right;}
.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-center{text-align: center;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.dis-block{display: block;}
.hardware-acceleration {
    -webkit-transform:translateZ(0);
    transform:-webkit-translateZ(0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
:focus { outline: 0; }
a {text-decoration: none;color: #666;}
a:hover{text-decoration: underline;}
img {border: none;border: 0;}
.container-bg{
    width: 1170px;
    margin: 0 auto;
}
.display-none{
    display:none
}
.display-inline-block{
    display: inline-block;
}
.pos-absolute{
    display: black;
    position: absolute;
}
.font-title{
    font-size:50px;
}
.font-content{
    font-size:16px;
}
.fs-30{
    font-size: 30px;
}
.fs-20{
    font-size:20px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size:16px;
}
.fs-12{
    font-size: 12px;
}

.fc-fff{
    color: #FFF;
}
.fc-green{
    color: #7CE77D;
}
.fc-51{
    color: rgb(51,44,43);
}

.thumbnail>img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.absolute-img>img{
    position: absolute;
    left: 0;
    top: 0;
}
.mt15{
    margin-top: 15px;
}
.clearfix:after{
    clear: both;
    content: " ";
    display: table;
}
.clear-float{
    height: 0px;
    margin-top: -1px;
    overflow: hidden;
    clear: both;
}
.wrap{
    position: relative;
    height: 100%;
}
.wrap .tree{
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.wrap .tree #yu-bg{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.wrap .tree>img{
    width: 100%;
    height: auto;
    display: block;
}

@keyframes daxiao{
    0%{
        transform:scale(0.9);
    }
    50%{
        transform:scale(1);
    }
    100%{
        transform:scale(0.9);
    }
}

@-webkit-keyframes daxiao{
    0%{
        -webkit-transform:scale(0.9);
    }
    50%{
        -webkit-transform:scale(1);
    }
    100%{
        -webkit-transform:scale(0.9);
    }
}
.daxiao-animation{
    -webkit-animation: daxiao 2s infinite linear;
    animation: daxiao 2s infinite linear;
}


@keyframes yao{
    0%{
        transform:rotate(-5deg);
    }
    50%{
        transform:rotate(5deg);
    }
    100%{
        transform:rotate(-5deg);
    }
}
@-webkit-keyframes yao{
    0%{
        -webkit-transform:rotate(-5deg);
    }
    50%{
        -webkit-transform:rotate(5deg);
    }
    100%{
        -webkit-transform:rotate(-5deg);
    }
}
.yao-animation{
    -webkit-animation: yao 2s infinite linear;
    animation: yao 2s infinite linear;
}

.yuan{
    position: absolute;
    background-color: rgb(223, 223, 223);
    border-radius: 4px;
    border: 1px solid #ccc;

    opacity: 0;
    pointer-events: none;

    -webkit-transition: all .4s cubic-bezier(0, 0.48, 0.71, 1.21);
    -moz-transition: all .4s cubic-bezier(0, 0.48, 0.71, 1.21);
    -ms-transition: all .4s cubic-bezier(0, 0.48, 0.71, 1.21);
    -o-transition: all .4s cubic-bezier(0, 0.48, 0.71, 1.21);
    transition: all .4s cubic-bezier(0, 0.48, 0.71, 1.21);

    -webkit-transform: scale(0.5) translateY(-30%);
    -moz-transform: scale(0.5) translateY(-30%);
    -ms-transform: scale(0.5) translateY(-30%);
    -o-transform: scale(0.5) translateY(-30%);
    transform: scale(0.5) translateY(-30%);

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.yuan.show{
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.yuan .img-g{
    position: relative;
    width: 50%;
    margin: -34% auto 0;
    height: auto;
    display: block;
    padding: 0;
}
.yuan .yu-txt{
    text-overflow: ellipsis;
    position: relative;
    height: 80%;
    font-size: 12px;
    padding: 3px;
    overflow: hidden;
}
.yuan .yu-name{

}
.yuan .yu-str{

}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(255,255,255,0.4);
    left: 0;
    top: 0;
    display: none;
}
#de-yuanwang:before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(223,223,223) transparent transparent;
    left: -10px;
    top: 10px;
}
#de-yuanwang{
    border-radius: 5px;
    padding: 5px !important;
}

#de-yuanwang,#add-form,#show{
    z-index: 9;
    position: absolute;
    height: auto;
    padding: 1%;
    font-size: 14px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    display: none;
    opacity: 0;
    pointer-events: none;
}
#add-form{
    top: 50%;
    left: 50%;
    width: 600px;
    height: 465px;
    margin-left: -300px;
    margin-top: -232px;
    border-radius: 10px;
    background-image: url(../images/formBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#xuyuan-form>textarea{
    position: absolute;
    top: 48%;
    width: 69%;
    left: 15%;
    height: 30%;
    background-color: transparent;
    border: none;
/* background: rgba(0,0,0,0.1); */
    font-size: 20px;
    line-height: 160%;
}
#add-form.show,#de-yuanwang.show,#show.show{
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#add-form label{
    display: block;
    padding: 10px 0 4px;
    width: 250px;
}
#add-form input,#add-form textarea{
    display: block;
    font-family: 'Open Sans', \5FAE\8F6F\96C5\9ED1,"Helvetica Neue",sans-serif,HelveticaNeue-Light, Helvetica;
}

#add-form input#submit,#add-form input#reset{
    display: inline-block;
    width: auto;
    padding: 2px 10px;
    margin-top: 10px;
    font-size: 13px;
}

.btn{
    position: fixed;
    top: 10%;
    right: 10%;
    width: auto;
}
#btn-add-yu{
    width: 18%; position: absolute; top: 12%; right: 3%;cursor: pointer;
}



table{

}
table tr{

}
table td{
    color: #000;
    padding: 5px 10px 5px 30px;
    font-size: 15px;
    border-bottom: 1px solid #B5B1B1;
    border-right: 1px solid #B5B1B1;
}
