<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>page1</title>
    <link rel="stylesheet" href="/css/<%= htmlWebpackPlugin.options.skin %>.css">
</head>
<body>
    <h1>test1 文件</h1>
    <div id="wrapper">
    </div>
</body>
</html>