/**
 * by liu.jun
 * 2015.04.05 21:27
 * www.weixunsd.com
**/
.table-bg-relative{
    position: relative;
    height: 100%;
    margin: 0 auto;
}
.table-bg-relative>.table-bg-absolute{
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.arrowed:after{
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #0089d0 transparent transparent;
}
.table-bg-relative>.table-bg-absolute.column-2>.left-image{
    width: 41.66666667%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.anli-left-content{
    color: #FFF;
    padding: 0 20px;
}
.weixun-anli-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.weixun-anli-bg .weixun-anli-img-bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}
.weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{
    position: relative;
    margin: 0 auto;
    top: 50px;
    overflow: hidden;
}
.weixun-anli-bg .weixun-anli-img-bg{
    width: 1200px;
    height: 500px;
    border-radius: 40px;
}
.weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{
    width: 1048px;
    height: 396px;
}
.weixun-anli-bg .weixun-anli-img-bg .anli-img_list ul,.weixun-anli-bg .weixun-anli-img-bg .anli-img_list li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.weixun-anli-bg .weixun-anli-img-bg .anli-img_list li{
    width: 250px;
    float: left;
    margin: 0 6px;
}
.weixun-anli-bg .weixun-anli-img-bg .anli-img_list li>img{
    width: 100%;
    height: auto;
}

.my_button{
    opacity: 0.5;
}

.con_button{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    line-height: 70px;
    cursor: pointer;
    opacity: 0.5;
}

.con_button.disable{
    display: none;
}
.my_button:hover{
    opacity: 1;
}
.con_button#left_button{
    left: 0;
}
.con_button#right_button{
    right: 0;
}



.table-bg-relative>.table-bg-absolute.column-2>.weixun-content-bg{
    width: 58.33333333% !important;
}
.section .anli-bottom-controls{
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 41.66666667%;
}

.section .anli-bottom-controls .weixun-icon.p-bottom{
    width: 80%;
    left: 10%;
    bottom: 4%;
    margin-left: 0;
}

.section,.slide,#section_6 .fp-slides{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
}

.section .bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.section .fp-tableCell .weixun-content-bg{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    display: table;
    position: relative;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section .fp-tableCell .weixun-content{
    margin: 0 auto;
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.section .fp-tableCell .column-2 .weixun-content{
    padding: 0 120px;
    text-align: left;
    vertical-align: top;
}
.section .column-2 .section-title{
    text-align: left;
}

.section .fp-tableCell .weixun-content-fade{
    opacity:0;
    pointer-events: none;
    -webkit-transform:translate3d(0,-100%,0);
    -ms-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0)
}
.section .weixun-content-fade.fadeInDown{
    -webkit-transition: -webkit-transform 1s ;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    -ms-transition: -ms-transform 1s;
    transition: transform 1s;
    pointer-events: auto;

    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}

.section .section-title{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

.section .section-title.has-line:after{
    display: block;
    content: "";
    width: 80px;
    margin: 15px auto;
    height: 2px;
    background-color: #fff;
}

.ajax-content>a,.section-content a{
    color: #E8E8E8;
    text-decoration: none;
}
.ajax-content>a:hover,.section-content a:hover{
    color: #fff;
}

.section .section-title-2{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.section .section-content,.ajax-content>a,.section .section-content a{
    font-size: 16px;
}
.section .section-content{
    display: inline-block;
    margin: 0 auto;
    width: auto;
    text-align: left;
}
.section .weixun-icon{
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.section .weixun-icon.p-bottom{
	position: absolute;
	bottom: 2%;
	left: 50%;
	margin-left: -350px;
	width: 700px;
}


.section .weixun-icon>a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    line-height: 58px;
    color: #fff;
    border: solid 4px #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    display: block;

}
.section .weixun-icon>a.a-center{
    margin: 0 auto;
}
.section .weixun-icon>a.a-left,.section .weixun-icon>a.a-right{
    position: absolute;
    bottom: 0;
}
.section .weixun-icon>a.a-left{
    left: 0;
}
.section .weixun-icon>a.a-right{
    right: 0;
}

.section .weixun-icon>a:hover{
    background-color: #FFF;
    color: #000;
    border-color: rgb(203, 203, 203);
}
.fp-controlArrow,.fp-slidesNav{
    display: none !important;
}

/*weixunsd slide */
.slide-close{
    position: absolute;
    top: 100px;
    right: 35px;
    z-index: 99;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #FFF;
    display: none;
}
.slide-close:hover{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.slide-close>img{
    width: 100%;
    height: auto;
}
.transition-none{
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/*weixunsd slide end*/