<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnjularJs test2</title>
    <style>
        .warp{
            padding: 50px 100px;
        }
        span,li{
            color: #FFF;
        }
        .first{
            background-color: red !important;
        }
        .even{
            background-color: #009900;
        }
        .odd{
            background-color: #005784;
        }
        .last{
            background-color: #000 !important;
        }
        .cb{
            color: #000;
        }
    </style>
</head>
<body>
    <div class="warp" ng-app="" ng-controller="TestCtrl">
        <p>
            <span class="first">first</span>
            <span class="even">even</span>
            <span class="odd">odd</span>
            <span class="last">last</span>
        </p>
        <input type="text" ng-model="a"/>

        <p>ng-class 方法一 字符串数组形式</p>
        <ul>
            <li ng-repeat="i in myList" ng-class="{true: 'first', false : ''} [$first]" ng-class-even="'even'" ng-class-odd="'odd'">
                {{i + " " + $index}}
            </li>
        </ul>

        <p>ng-class 方法二 对象 key /value 处理</p>
        <ul>
            <li ng-repeat="i in myList" ng-class="{'first':$first,'last':$last}" ng-class-even="'even'" ng-class-odd="'odd'">
                {{i + " " + $index}}
            </li>
        </ul>

        <p>ng-show ng-hide 指令</p>
        <ul>
            <li class="cb">fasdfasfd</li>
            <li class="cb" ng-show="isShow">啦啦啦啦啦</li>
            <li class="cb" ng-hide="isShow">啊啊啊啊</li>
        </ul>

        <p>ng-switch </p>
        <ul ng-init="inItList = [1,2,3,4]">
            <li ng-repeat="i in inItList" ng-class="{'first':$first,'last':$last}" ng-class-even="'even'" ng-class-odd="'odd'" ng-switch on = "$index">
                <span>我是 {{$index}}</span>
                <span ng-switch-default>我是默认的内容</span>
                <span ng-switch-when="1">我是$index == 1 的内容 {{i}}</span>
            </li>
        </ul>
        <p>ng-switch(2)</p>
        <ul ng-switch on="person.name">
            <li ng-switch-default class="cb">And the winner is</li>
            <h1 ng-switch-when="Ari">{{ person.name }}</h1>
        </ul>

        <!--<p>ng-style</p>-->
        <!--<div ng-style="myStyle">-->
            <!--mystyle-->
        <!--</div>-->

    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/angular-1.0.1.min.js"></script>
    <script type="text/javascript">
        var TestCtrl = function($scope){
            $scope.myList = [1111,222,33,44,555];
            $scope.isShow = true;
            $scope.a = '123';
            $scope.myStyle = {
                position: "relative",
                width : "100px",
                height: "300px",
                backgroundColor: "red",
                margin : "0 auto",
                textAlign:  "center"
            };
            $scope.person = {
                name : "Ari"
            };

            $("body").on("click",function(){
                $scope.isShow = !$scope.isShow;
                $scope.myStyle = {
                    position: "relative",
                    width : "100px",
                    height: "200px",
                    backgroundColor: "red",
                    margin : "0 auto",
                    textAlign:  "center"
                }
                $scope.$apply();
            });
        }



//        angular.bootstrap(document.documentElement);
    </script>

</body>
</html>