/**
*Website:/reset.css
*Author:llf{2012-9-25}
**/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0 ; padding:0;}
body, button, input, select, textarea { font-size:12px; font-family:Arial, Helvetica, sans-serif}
h1, h2, h3, h4, h5, h6 {font-size:12px; font-weight:normal }
ul, ol {list-style:none;}
li{list-style-type:none;}
fieldset, img {border:0;}
em,cite{font-style:normal}
button, input, select, textarea, label { outline:medium none; vertical-align:middle;}
button{cursor:pointer;font-size:12px}
table {border-collapse:collapse; border:none}
body{}
html{ font-family:Arial,Helvetica,sans-serif; font-size:12px/150%;}
textarea{word-wrap: break-word;resize: none;}

/**清除浮动**/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; }
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden; line-height:0;}

a{ color:#0449BE; text-decoration:none;outline:none;_blr:expression(this.onFocus=this.blur())}
a:hover{ color:#0449BE; text-decoration:underline;}




/*头部*/
#hd{ background:#fff;clear:both; _zoom:1; height:40px; position: relative;}
.header{ background:#fff;height:40px; width:980px; margin:0 auto;}
.logo{ width:92px; height:30px; display:inline; float:left; margin-top:5px; background:url(../../greenxingdong/images/ls_logo.jpg) no-repeat;}
.header_right{ float:right; padding-top:8px;}


