<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>page2</title>
    <style>
        body{
            background-color: red;
        }
    </style>
</head>
<body>
<div id="wrapper">

</div>
<script type="text/javascript" src="/js/alert.js"></script></body>
</body>
</html>