html {
  font-size: 100%;
}
body,
header,
footer,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, roboto, "microsoft yahei", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
:focus {
  outline: 0 none;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  font-size: 14px;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1376px;
  min-width: 1120px;
}
.container img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.container .bg-img {
  position: relative;
  z-index: -1;
}
.container .lottery-wrap {
  position: relative;
}
.container .content-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.container .wel-2016 {
  position: absolute;
  width: 49%;
  bottom: 22%;
  right: 26%;
}
.container .game {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -418.5px;
  margin-top: -319.5px;
  width: 837px;
  height: 639px;
}
.container .game .control-wrap {
  position: absolute;
  width: 100%;
  height: auto;
  top: 60%;
  left: 0;
  text-align: center;
  -webkit-filter: inherit;
          filter: inherit;
}
.container .game .control-wrap .control-btn {
  position: relative;
  -webkit-filter: inherit;
          filter: inherit;
  display: inline-block;
  width: 480px;
  height: 90px;
  line-height: 65px;
  font-size: 0;
  background: url("../img/btn.png") no-repeat;
  -webkit-transition: background-position 0.4s ease;
          transition: background-position 0.4s ease;
  vertical-align: top;
}
.container .game .control-wrap .control-btn.active {
  background-position: 0 -96px;
}
.container .game .num-wrap {
  position: absolute;
  -webkit-filter: inherit;
          filter: inherit;
  width: 432px;
  height: 185px;
  top: 138px;
  left: 24%;
  overflow: hidden;
}
.container .game .num-wrap .num {
  position: absolute;
  -webkit-filter: inherit;
          filter: inherit;
  display: block;
  top: 0;
  width: 114px;
  height: 2132px;
  background: url("../img/num.png") no-repeat 50% 0;
  background-size: 109px 2035px;
}
.container .game .num-wrap .num1 {
  left: 8px;
}
.container .game .num-wrap .num2 {
  left: 160px;
}
.container .game .num-wrap .num3 {
  left: 311px;
}
.container .result-wrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.container .result-wrap .layer-bg,
.container .result-wrap .content {
  -webkit-filter: inherit;
          filter: inherit;
}
.container .result-wrap .layer-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.65;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
}
.container .result-wrap .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 828px;
  height: 428px;
  margin-left: -414px;
  margin-top: -214px;
  background: url("../img/result_bg.png");
}
.container .result-wrap .info-wrap {
  width: 560px;
  margin: 105px auto 0;
  color: #fff;
}
.container .result-wrap h3,
.container .result-wrap p {
  font-weight: bold;
  text-align: center;
  line-height: 90px;
}
.container .result-wrap h3 {
  border-bottom: 1px solid #ffffff;
  font-size: 40px;
}
.container .result-wrap .result {
  display: table;
  width: 100%;
  font-size: 50px;
  line-height: 115px;
}
.container .result-wrap .result span {
  display: table-cell;
  width: 33.333%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .result-wrap .result .id,
.container .result-wrap .result .department {
  font-size: 30px;
  max-width: 187px;
}
.container .clear-list {
  position: absolute;
  bottom: 0;
  left: 0;
}
