@import 'common/reset.less';

//html,body{width: 100%;height: 100%;}
body{overflow: hidden;}
.container{width: 100%;margin: 0 auto;max-width: 1376px;min-width: 1120px;
    img{width: 100%;height: auto;vertical-align: top;}
    .bg-img{position:relative;z-index: -1;}
    .lottery-wrap{position: relative;}
    .content-wrap{position: absolute;width: 100%;height: 100%;top:0;left: 0;}
    .wel-2016{position: absolute; width: 49%; bottom: 22%; right: 26%;}

    .game{display:none;position: absolute;left:50%;top:50%;margin-left: -837/2px;margin-top:-639/2px;width: 837px; height: 639px;
        .control-wrap{position: absolute;width:100%;height:auto;top:60%;left:0;text-align: center;filter: inherit;
            .control-btn{position:relative;filter: inherit;display: inline-block;width: 480px;height: 90px;line-height: 65px;font-size: 0;background: url("../img/btn.png") no-repeat;transition: background-position 0.4s ease;vertical-align: top;
                &.active{background-position: 0 -96px;}
            }
        }
        .num-wrap{position: absolute; filter: inherit; width: 432px; height: 185px; top: 138px; left: 24%; overflow:hidden;
            .num{position: absolute; filter: inherit; display:block;top: 0;width: 114px;height: 2132px;background: url("../img/num.png") no-repeat 50% 0;background-size: 109px 2035px;}
            .num1{left: 8px;}
            .num2{left: 160px;}
            .num3{left: 311px;}
        }
    }
    .result-wrap{display: none;position: absolute; width: 100%; height: 100%; top: 0; left: 0;
        .layer-bg,.content{filter: inherit;}
        .layer-bg{position: absolute; width: 100%;height: 100%;top: 0;left: 0;background-color:#000000;opacity: 0.65;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';}
        .content{position:absolute;left:50%;top:50%;width: 828px;height: 428px;margin-left:-828/2px;margin-top: -428/2px;background: url("../img/result_bg.png");}
        .info-wrap {width: 560px; margin: 105px auto 0; color: #fff;}
        h3,p{font-weight: bold;text-align: center;line-height: 90px;}
        h3{border-bottom: 1px solid #ffffff;font-size: 40px;}
        .result{display: table;width: 100%;font-size: 50px;line-height: 115px;
            span{display: table-cell;width: 33.333%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
            .id,.department{font-size: 30px;max-width: 187px;}
        }
    }
    .clear-list{position: absolute; bottom: 0; left: 0;}
}