@charset "UTF-8";

/*最小分辨率*/
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 481px) {

}

/*区间*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
    #header #weixun-logo{padding: 8px 8px 0px;}
    #header .weixun-logo-img,#header.section_1_out .weixun-logo-img{width: 50px !important;}
    #header.section_1_out .weixun-logo-img{width: 40px;}
    #header .right-menu li>a{width: 65px;height: 60px;}
    #header .right-menu li>a>div>span{font-size: 18px}
    #header #drop-menu{top:60px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section .fp-tableCell .column-2 .weixun-content {
        padding: 0 50px;
    }
    .weixun-anli-bg .weixun-anli-img-bg{
        width: 700px;
        height: 400px;
        border-radius: 30px;
    }
    .weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{
        width: 666px;
        height: 338px;
        top: 34px;
    }
    .weixun-anli-bg .weixun-anli-img-bg .anli-img_list li{
        width: 210px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section .weixun-icon>a{
        font-size: 20px;
        line-height: 50px;
        border: solid 3px #fff;
        width: 50px;
        height: 50px;
    }

    .section .fp-tableCell .column-2 .weixun-content {
        padding: 0 80px;
    }
    .weixun-anli-bg .weixun-anli-img-bg{
        width: 940px;
        height: 500px;
        border-radius: 40px;
    }
    .weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{
        width: 786px;
        height: 396px;
    }

}

/*最大*/
@media only screen and (max-width: 1199px) {
    #header #weixun-logo{padding: 12px 12px 0px;}
    #header .right-menu li>a{width: 75px;height: 70px;  font-size: 14px;}
    #header .logo-txt{font-size: 12px;}
    #header .weixun-logo-img{width: 70px;}
    #header.section_1_out .weixun-logo-img{width: 50px;}
    #header.section_1_out .weixun-logo-img{width: 40px;}
    #header .logo-txt-big,#header.section_1_out .logo-txt-small{margin-left: 10px;margin-top: 12px;}
    #header .right-menu li>a>div>span{font-size: 26px}
    #header #drop-menu{top:70px;}
    #header #weixun-logo .logo-txt{display: block;}
    #menu .menu-list>ul>li>a{font-size: 14px;}
    #menu .menu-footer{font-size: 12px;}
    .section .section-title{font-size: 22px;margin-bottom: 10px;}
    .fp-controlArrow.fp-prev{left: 0;}
    .fp-controlArrow.fp-next{right: 0;}
    .slide-close,.fp-controlArrow{transform: scale(0.7);-webkit-transform: scale(0.7);}
    .slide-close{top: 80px;right: 20px;}
}

@media only screen and (max-width: 991px) {
    .con_button{
        width: 50px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
        margin-top: -25px;
    }

    .section .weixun-icon>a{
        font-size: 16px;
        line-height: 34px;
        border: solid 2px #fff;
        width: 35px;
        height: 35px;
    }
    .section .weixun-icon{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 767px) {
    #header #menu .menu-weixun-logo{
        width: 29%;
    }
    #header .right-menu li>a,#menu .menu-list>ul>li>a{font-size: 12px;}
    .table-bg-relative{
        width: auto;
        margin: auto;
    }
    .section .weixun-content-bg{width: auto !important;padding-left: 20px !important;padding-right: 20px !important;padding-bottom: 50px !important;}
    #header #weixun-logo .logo-txt{display: none;}
    .section .section-title{font-size: 20px;margin-bottom: 10px;}
    #weixun-anli-list .display-inline-block{
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }
    .section .section-content,.ajax-content>a,.section .section-content a{font-size: 14px;}
    .section .section-title-2{font-size: 16px;}
    .slide-close,.fp-controlArrow{transform: scale(0.5);-webkit-transform: scale(0.5);}
    .slide-close{top: 70px;right: 20px;}
    .section .weixun-icon.p-bottom{
		width: 100%;
		margin: 0;
        bottom: 2%;
		left: 0;
    }
    .section .weixun-icon.p-bottom>a{
    }
    .section .weixun-icon>a.a-right{
        right: 20px;
    }
    .section .weixun-icon>a.a-left{
        left: 20px;
    }
    .table-bg-relative>.table-bg-absolute.column-2>.left-image,.arrowed:after{
        display: none;
    }
    .section .fp-tableCell .column-2 .weixun-content {
        padding:0;
    }
    .table-bg-relative>.table-bg-absolute.column-2>.weixun-content-bg,.section .anli-bottom-controls{
        width: 100% !important;
    }
    .section .anli-bottom-controls{
        bottom: 2%;
    }

    .section .anli-bottom-controls .weixun-icon.p-bottom{
        width: 100%;
        left: 0;
    }

    /*right*/
    .weixun-anli-bg .weixun-anli-img-bg{
        width: 450px;
        height: 400px;
        border-radius: 10px;
    }
    .weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{
        width: 444px;
        height: 338px;
        top: 34px;
    }
    .weixun-anli-bg .weixun-anli-img-bg .anli-img_list li{
        width: 210px;
    }
}

@media only screen and (max-width: 480px) {
    .section .section-title{font-size: 18px;}
    .section .section-content, .ajax-content>a, .section .section-content a{font-size: 12px;}
    .section .section-title-2{font-size: 14px;}
    #header #weixun-logo{padding: 8px 8px 0px;}
    #header .weixun-logo-img,#header.section_1_out .weixun-logo-img{width: 32px;}
    #header .right-menu li>a{width: 55px;height: 50px;}
    #header .right-menu li>a>div>span{font-size: 16px}
    #header #drop-menu{top:50px;}
    .weixun-anli-bg .weixun-anli-img-bg{width: 300px;}
    .weixun-anli-bg .weixun-anli-img-bg #anli-img-list-bg{width: 222px;}
    .con_button {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        margin-top: -20px;
    }
    .slide-close{
        top: 49px;
        right: 15px;
    }
}
