<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="j_App">
    a = {{ a }} <br>
    b = {{ b }} <br>

    <p>
        <input type="text" v-model="a">
    </p>

    <h3>列表</h3>
    <ul>
        <li v-for="value in stus">
            {{value.name}}
        </li>
    </ul>

    <h3>事件</h3>
    <button v-on:click="showMessage">点击我</button>
</div>


<script>
    var vm = new Vue({
        el : '#j_App',
        data : {
            a : '我是aaaaa',
            b : '我是bbbb',
            stus : [{
                name : '刘'
            },{
                name : '消息'
            }]
        },
        computed : {
            // 计算属性
            b : function () {
                return this.a + '我是BBB'
            }
        },
        methods : {
            showMessage : function () {
                this.b = 'xxxxxxxxxxxxx'
            }
        }

    });
</script>

</body>
</html>