<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>page2</title>
</head>
<body>
    <h1>test2 文件测试</h1>
    <div id="wrapper">

    </div>
</body>
</html>