body{
    background-color: #E5E5E5;
}
.wrap-bg{
    position: relative;
    padding: 50px 30px;
}

.title{
    padding: 20px;
}
.title>h1{
    font-size: 30px;
    font-weight: 600;
    text-align:center;
}
.content{
    margin: 20px auto;
    width: 340px;
}
.my-phone{
    width: 320px;
    height: 546px;
    background-color: #9e9e9e;
    position: relative;
    padding: 40px 2px;
    border-radius: 35px;
    box-sizing: content-box;
}
.phone-bg{
    width: 100%;
    height: 100%;
    background-color: #666;
}
.phone-bg .my-title{
    height: 40px;
    line-height: 40px;
    position: relative;
    background-color: #222222;
    color: #FFF;
    text-align: center;
    z-index: 5;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.phone-button{
    position: absolute;
}
.phone-button.top-button{
    width: 60px;
    height: 4px;
    top: -4px;
    right: 65px;
    background-color: #C7C4C4;
    border-radius: 3px 3px 0 0;
}
.phone-button.top-center{
    width: 64px;
    height: 10px;
    background-color: #616161;
    top: 17px;
    left: 50%;
    border-radius: 5px;
    margin-left: -32px;
}
.phone-button.left-top{
    height: 35px;
    width: 4px;
    background-color: #bdbdbd;
    top: 180px;
    left: -4px;
    border-radius: 2px 0 0 2px;
}
.phone-button.left-middle{
    height: 30px;
    width: 4px;
    background-color: #bdbdbd;
    top: 260px;
    left: -4px;
    border-radius: 2px 0 0 2px;
}
.phone-button.left-bottom{
    height: 30px;
    width: 4px;
    background-color: #bdbdbd;
    top: 330px;
    left: -4px;
    border-radius: 2px 0 0 2px;
}
.phone-button.bottom-center{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 10px;
    background-color: #F5F5F5;
    left: 50%;
    margin-left: -10px;
    box-shadow: 0 0 5px rgb(239, 239, 239),0 0 15px rgb(224, 224, 224);
    animation: css3-flash 2s infinite linear;
    -webkit-animation: css3-flash 2s infinite linear;
}

@-webkit-keyframes css3-flash{
    0%{
        box-shadow: 0 0 5px rgb(239, 239, 239),0 0 15px rgb(224, 224, 224);
    }
    50%{
        box-shadow: 0 0 5px rgb(255, 255, 255),0 0 15px rgb(255, 255, 255);
    }
    100%{
        box-shadow: 0 0 5px rgb(239, 239, 239),0 0 15px rgb(224, 224, 224);
    }
}
@keyframes css3-flash{
    0%{
        box-shadow: 0 0 5px rgb(239, 239, 239),0 0 15px rgb(224, 224, 224);
    }
    50%{
        box-shadow: 0 0 5px rgb(255, 255, 255),0 0 15px rgb(255, 255, 255);
    }
    100%{
        box-shadow: 0 0 5px rgb(239, 239, 239),0 0 15px rgb(224, 224, 224);
    }
}







