@import "base/base.less";
@import "base/class.less";

// global
body{margin: 0;padding: 0;font-family:@fontFace;font-size: 14px;color: @colorBorder;}
input,textarea,select{font-family:@fontFace;font-size: 14px;color: @colorBase;}

.warp{width: 1200px;height: auto;margin: 0 auto;padding: 50px 0;
  .title{font-size: 34px;color: @colorBase;font-weight: bold;margin: 10px 0;}

  .text-label{display: block;
    textarea{display: block;.border;width: 1178px;height: 300px;padding: 10px;font-size: 14px;line-height: 20px;

    }
  }
}
